body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FEFEFE;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

a {
  color: #00B27E;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  color: #8BCCB8;
}

.row {
  padding: 80px 0px;
}

.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-common {
  background: #8BCCB8;
  color: #fff;
}

.btn-common:hover {
  background: #8BCCB8;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 50px;
}

.subtitle {
  text-align: center;
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;
  color: #bdc3c7;
}

.navbar {
  margin-bottom: 0;
}

.navbar li {
  color: #d1d1d1;
}

.navbar-default {
  border: none;
  border-radius: 0;
  background: #f081a2;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background: none;
  color: #fff;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>.active,
.navbar-default .navbar-nav li:hover {
  background: #66BDBA;
  padding-bottom: 5px;
  color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: whitesmoke;
}

.navbar-default .navbar-brand {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
}

.navbar-default .navbar-brand:hover {
  color: #eee;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #fff;
}

.affix.navbar-default {
  background: #f081a2;
}

#hero-area {
  background-color: #515457;
  background-image: url('../assets/pups.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 17px;
  text-align: justify;
}

#hero-area img {
  max-width: 100%;
}

#hero-area p {
  padding: 50px 0;
}

#copyright {
  background: #F1F1F1;
  color: #333;
}

#copyright a {
  color: #333;
}

.site-wrapper-ui-view {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.btn-facebook {
  display: block;
  align-self: center;
  margin: auto;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
button.btn-facebook:hover,
button.btn-facebook:focus,
button.btn-facebook:active,
button.btn-facebook.active,
button.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #0d2456 \9;
}

.contactSection {
  background-color: #e4e4e4;
  border-top: 1px solid #76C0BD;
}

.benefitsSection {
  margin-top: -30px;
}

@media (max-width: 991px) {
  .centerImgResponsive {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .centerOnXs {
    text-align: center;
  }

  .benefitsSection {
    margin-bottom: 30px;
  }

  .contactSection {
    margin-top: -100px;
  }

  .contactSection .marginFix {
    margin-top: -50px;
  }
}

.contactText {
  font-size: large;
}

.viewMenu {
  display: block;
  width: 200px;
  margin: auto;
  margin-bottom: 30px;
  background: #F180A3;
  border-radius: 5px;
}

.viewMenu:hover {
  color: white;
  background: #75BFBC;
}

.footer {
  background-color: #76C0BD;
  letter-spacing: 3px;
  font-size: medium;
}

/**CONTACT ICONS SECTION**/
.contactIcons {
  margin: 10px;
  text-align: center;
}

.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

/* facebook button class*/
.facebookBtn {
  background: #4060A5;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
}

.facebookBtn:before {
  font-family: "FontAwesome";
  content: "\f09a";
  /* add facebook icon */
}

.facebookBtn:hover,
.facebookBtn:active {
  color: #4060A5;
  background: #fff;
  text-decoration: none;
}


/* twitter button class*/

.twitterBtn {
  background: #00ABE3;
}

.twitterBtn:before {
  font-family: "FontAwesome";
  content: "\f099";
  /* add twitter icon */
}

.twitterBtn:hover {
  color: #00ABE3;
  background: #fff;
  text-decoration: none;
}

/* instagram button class*/

.instagramBtn {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.instagramBtn:before {
  font-family: "FontAwesome";
  content: "\f16d";
  /* add intagram icon */
}

.instagramBtn:hover {
  color: #D93378;
  background: #fff;
  text-decoration: none;
}

/**END CONTACT ICONS SECTION**/